body {
  background-image: url("Background.webp");
  background-size: cover; 

  height: 100vh; 
  margin: 10;

  font-family: Avenir, Helvetica, sans-serif;
}

#loginContainer {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa; 
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 100px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="password"]{
  margin-bottom: 20px;
}


button {
  width: 100%;
  padding: 10px;
  background-color: #7dc1ce;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}

button:hover {
  background-color: #866b56;
}
