body {
  background-image: url("Background.webp");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: Avenir, Helvetica, sans-serif;
}

#resumeDisplayArea {
  background-color: #ffff;
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 40px;
}

#commentDisplayArea {
  background-color: #aafda9;
  border-radius: 5px;
  padding: 20px;
  margin-left: 20px;
  margin-top: 100px;
  width: 300px;
  height: 1056px;
  box-sizing: border-box;
  overflow-y: auto;
}

.nameInput {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone,
.linkedin,
.github,
.email {
  font-size: 14px;
}

.email {
  margin-bottom: 20px;
}

.summaryStatement,
.education,
.skills,
.projects,
.experience,
.projects,
.certifications {
  font-size: 14px;
}

label {
  display: block;
  margin-top: 10px;
}

/* addding primary button styling */
.btn-primary {
  background-color: #7dc1ce;
  border: none;
  margin: 2px;
}
.btn-primary:hover {
  background-color: #866b56;
  border: none;
  margin: 2px;
}

/* close [close] button styling */
.btn-secondary:hover {
  background-color: rgb(192, 75, 75);
  border-color: rgb(192, 75, 75);
}

/* edit section styling */
#editModal {
  width: 80%;
  height: 80vh;
  border-radius: 7px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(163, 147, 112);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* padding to whole thing */
.modal-content {
  padding: 30px;
}

/* close (X) button styling */
.modal-content .close {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 40px;
  cursor: pointer;
}
.modal-content .close:hover {
  color: red;
}

/* edit save button styling */
.modal-content #saveButton {
  color: white;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: #7dc1ce;
  border: none;
  margin-top: 20px;
}
.modal-content #saveButton:hover {
  background-color: #866b56;
  border: none;
  margin-top: 20px;
}

/* add roaster styling */
